﻿
<%-- web form with master page --%>


<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="view.aspx.cs" Inherits="ELibrarymanagement.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contentPlaceHolder1" runat="server">
    
    <%--ya nera halne ho content--%>

<h1>view</h1>

    
    
    <%--ya nera halne ho content--%>

</asp:Content>
