﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="projectwebsite.WebForm1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contentPlaceHolder1" runat="server">

    <div class="container-fluid">
        <div class="row">
            <%--first col--%>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">

                        <%--member row text--%>
                        <div class="row">

                            <div class="col">
                                <center>
                           <h4>Member Details</h4>
                        </center>
                            </div>
                        </div>

                        <%--image row--%>
                        <div class="row">
                            <div class="col">
                                <center>
                           <img width="70px" src="img_login/useme.png" />
                        </center>
                            </div>
                        </div>

                        <%--hr row--%>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <%--1st input row--%>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Member Id</label>
                                 
                                
                            </div>

                        </div>



                    </div>
                </div>
            </div>

            <%--another col--%>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h1>hello 2</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</asp:Content>
